.pylintrc
.vscode/settings.json
vehicle.py
test.py
tubes_comvis.py
vehicle_counter.ipynb
.vscode/launch.json
media/Beachfront.mp4
media/carcount.png
media/dilate.png
media/erode.png
media/Highway.mp4
media/traffic.avi
media/traffic.mkv
media/traffic.mp4
media/video.mp4
